<!DOCTYPE html>
<html>
    <head>
        <title>User_answer</title>
        <style>
            body {
                background-color: pink;
                }
        </style>
    </head>
    <body>
        <h1>{{user_name}} this is awesome! </h1>
        <p>Your favorite ingredient is {{user_food_ingredient}} that's odd.</p>
        <p>I've been to {{user_city}} a couple times. It's a great city!</p>
        <p>{{user_season}} is my favorite season too!</p>
        <p>Wow! {{user_fun_fact}} that's impressive!</p>
    </body>


</html>